@import 'nib'
@import '../bower_components/normalize.styl/normalize.styl'
@import '../bower_components/stackenblochen/stackenblochen.styl'
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,600');

$violet = #92137F;
$red-violet = #8f1332;
$grey = #aab2bd
$grey-very-light = #f5f7fa
$grey-light = #e6e9ed
$grey-dark = #434a54

$not-blue = #5FA7E1
$a-red = #C6463F

*, *:before, *:after
  box-sizing: border-box

html, body
  height: 100%
  color: $grey-dark
  font-family: 'Open Sans', sans-serif;
  font-size: 100%
  line-height: 1.333
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -ms-content-zooming: none

figure
  margin: 0
  img
    display: block

a
  text-decoration: none
  color: $a-red
  transition: color .2s
  word-break: break-all
  &:hover, &:focus
    text-decoration: underline

h1
  text-align: center
  margin: 1.5em 15% .5em
  line-height: 1.666
  font-family: 'Raleway', sans-serif;
  font-size: 30px

h3
  margin: 1.5em 0 0 0
  font-weight: 400
  font-style: italic

small
  color: $grey
  font-size: .7em

img
  vertical-align: bottom

p
  font-size: 18px
  font-weight: 300

hr
  font-size: 1rem
  margin: 0
  height: 1px
  border: none
  border-top: 1px solid $grey-light

.header
  font-size: 1rem
  font-family: 'Raleway', sans-serif;
  background: transparent url('/images/header.jpg') center center no-repeat
  background-size: cover
  text-align: center
  color: white
  position: relative
  &__logo
    height: 50px !important
    @media (min-width: 25em) {
      height: 150px !important
    }
    margin: 2em 0
    transition: all .25s
    &:hover, &:focus
      height: 100px
      transform: rotate(-10deg)
      border-radius: 20%
    &__background
      fill: transparent !important
  &__headline
    font-size: 2em
    margin: 2em 0 1em 0
    vertical-align: middle
  &__ticket-link
    margin-bottom: 1em
    @media $media-query-large
      position: absolute
      top: 50%
      left: -5em

.ticket-link
  font-size: 1.25rem
  display: inline-block
  color: $red-violet
  font-weight: bold
  padding: .75em .75em .75em 3em
  background: url('/images/ticket.svg') no-repeat center center
  background-size: 100%
  backface-visibility: hidden
  transform: rotate(3deg)
  transition: all .25s
  &:hover, &:focus
    background-size: 110%

.menu
  font-size: 1rem
  list-style: none
  margin: 2em 0
  padding: 0
  &__item
    display: inline-block
    &__link
      display: inline-block
      color: white
      padding: .25em .25em .15em .25em
      margin: .25em .25em .35em .25em
      border-bottom: 2px solid transparent
      border-top-right-radius: 4px
      border-top-left-radius: 4px
      transition: all .25s
      .site &--start,
      .site--news &--news,
      .site--location &--location,
      .site--sponsoring &--sponsoring,
      .site--faq &--faq,
      .site--about &--about
        background-color: rgba(0, 0, 0, .1)
      &:hover, &:focus
        background-color: rgba(0, 0, 0, .1)
        text-decoration: none
        border-bottom-color: white

.menu-subline
  padding-top: 3em

  img
    height: 50px
    vertical-align: middle
    margin-right: 12px
    float: left

  .menu-subline-item
    display: table

    p
      font-weight: normal
      display: table-cell
      vertical-align: middle

.fancy-background
  background: #f3f3f3
  padding-bottom: 3em
  &:nth-child(odd)
    background: white

.news
  &__article
    margin-bottom: 3em
    &:last-child
      margin-bottom: 1em
.more-link
  text-align: center
  margin-top: 2em
  margin-bottom: 1em
  a
    border: 2px solid $a-red
    border-radius: 2px
    font-size: 18px
    padding: 14px 20px
    border-radius: 3px
    &:hover
      text-decoration: none
      color: white
      background: $a-red

.newsletter-form
  .newsletter-email
    height: 50px
    width: 300px
    border: 2px solid #b8b8b8
    padding: 0 19px
    border-radius: 2px

  .button-signup
    border: 2px solid $a-red
    border-radius: 2px
    font-size: 18px
    padding: 14px 20px
    border-radius: 3px
    background: white
    margin-left: 5px
    height: 50px
    &:hover
      text-decoration: none
      color: white
      background: $a-red

.sponsoring
  &__image
    margin-top: 2em

.about
  font-size: 1rem
  &__link
    display: inline-block
    max-width: 100%
    color: $grey-dark
    background: $grey-very-light
    margin-bottom: 2em
    &:hover, &:focus
      .about__link__image
        opacity: .9
        transform: scale(1.05)
    &__image
      transition: opacity .3s, transform .3s
      &__caption
        padding: .5em

.video
  padding-top: 3em
  iframe
    display: block
    margin: 0 auto

.footer
  font-size: 1rem
  line-height: 2em
  padding: 4em 0
  color: $grey
  text-align: center
  &__row
    margin-top: 1em
  a
    color: $grey
    text-decoration: underline
    &:hover, &:focus
      color: $grey-dark

  .social-icon
    display: inline-block
    border: 1px solid $a-red
    width: 30px
    height: 30px
    overflow: hidden;

    img
      height: 80%
      vertical-align: baseline;
      padding-top: 5px;
      padding-left: 6px;
      display: block
      svg
        fill: #efefef

    &:hover, &:focus
      border-color: $grey-dark


.sponsoring__details
  font-size: 1.5em

.sponsor-list__title
  text-align: center
  border-bottom: 1px solid $grey-light
  font-family: Lato, sans-serif
  font-weight: 300
  font-style: normal

.text-center
  text-align: center

.sponsors
  margin-top: 3em

.sponsor
  margin-top: 3em
  margin-bottom: 1em
  min-height: 100px

.sponsor a
  word-wrap: break-word

.sponsor__logo
  max-height: 250px

.location__partybox
  float: left
  width: 300px
  margin-bottom: 30px

@media (max-width: 560px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
