extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content


  .grid
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

        section
          h2 Was ist ein BarCamp?


          p ... eine seit 2005 in der IT- und Medienwelt etablierte offene Tagung mit Workshops, über die am Anfang jedes Veranstaltungstages von den Teilnehmern abgestimmt wird. Somit ist sichergestellt, dass den Teilnehmern genau die Themen angeboten werden, die für sie am interessantesten sind. Es gibt keine Unterscheidung zwischen Referenten und Zuhörern. Jeder Teilnehmer kann und soll sich einbringen.
          <a href="/faq">Mer erfahren!</a>


          h2 Wer organisiert das?

          .grid.about
            each organizer in page.metadata.organizers1
              .small-6.large-4.columns
                figure
                    a.about__link(href='https://twitter.com/'+organizer.twitter, target='_blank')
                      img.about__link__image(src='/images/'+organizer.twitter+'.jpg', width='305', height='305')

                      figcaption.about__link__image__caption
                        = organizer.name
                        |  &ndash;
                        = "@" + organizer.twitter
          .grid.about
            each organizer in page.metadata.organizers2
              .small-6.large-4.columns
                figure
                    a.about__link(href='https://twitter.com/'+organizer.twitter, target='_blank')
                      img.about__link__image(src='/images/'+organizer.twitter+'.jpg', width='305', height='305')

                      figcaption.about__link__image__caption
                        = organizer.name
                        |  &ndash;
                        = "@" + organizer.twitter


          h2 Unterstützer:
          p Das BarCamp "Jugend & Medien" wäre nicht möglich ohne die Unterstützung der folgenden Personen. Unseren herzlichsten Dank an euch!

          .grid.about
            each supporter in page.metadata.supporter1
              .small-6.large-4.columns
                figure
                    a.about__link(href='https://twitter.com/'+supporter.twitter, target='_blank')
                      img.about__link__image(src='/images/'+supporter.twitter+'.jpg', width='305', height='305')

                      figcaption.about__link__image__caption
                        = supporter.name
                        |  &ndash;
                        = "@" + supporter.twitter

          h2 Ehemalige:
          p Das Team ändert sich jedes Jahr ein wenig. Daher danken wir auch unseren Ehemaligen! Alexandra Samoleit, Stephan Jauch und Christian Skokan!
