extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content


  .grid
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

        section
          h2 Was ist ein BarCamp?


          p ... eine seit 2005 in der IT- und Medienwelt etablierte offene Tagung mit Workshops, über die am Anfang jedes Veranstaltungstages von den Teilnehmern abgestimmt wird. Somit ist sichergestellt, dass den Teilnehmern genau die Themen angeboten werden, die für sie am interessantesten sind. Es gibt keine Unterscheidung zwischen Referenten und Zuhörern. Jeder Teilnehmer kann und soll sich einbringen.

          p Ein BarCamp findet weder in einer Bar statt, noch wird dabei getrunken.


          h2 Organizers:

          .grid.about
            each organizer in page.metadata.organizers
              .small-6.large-4.columns
                figure
                    a.about__link(href='https://twitter.com/'+organizer.twitter, target='_blank')
                      img.about__link__image(src='/images/'+organizer.twitter+'.jpg', width='305', height='305')

                      figcaption.about__link__image__caption
                        = organizer.name
                        |  &ndash;
                        = "@" + organizer.twitter

          h2 Special thanks:
          p The JS Unconf would not be possible without the helping hands of these nice people:
