extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content
  .grid.sponsoring
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

    .small-12.medium-10.medium-centered.large-8.large-centered.columns
        p Das BarCamp "Jugend & Medien" ist kostenlos für über 100 Teilnehmer. Alle Organisatoren arbeiten ehrenamtlich. Trotzdem entstehen jedes Jahr zirka 5000EUR Kosten für Miete, Catering, Versicherung etc. Das ist nur dank unserer großartigen Sponsoren möglich. Wenn du uns auch unterstützen willst (ob finanziell, materiell oder ideell), dann wende Dich an <a href="mailto:peter@barcamp-erfurt.de"> Peter. </a>

        h2 Wie kann man unterstützen
        ul
          li <strong>Finaziell</strong>
          Firmen und Institutionen können ab 299EUR Sponsor werden und somit auch auf der Veranstaltung und unseren Onlinekanälen werben. Für Privatpersonen gibt es eine betterplace-Kampagne.
          li <strong>Materiell</strong>
          Vom Teebeutel bis zum Leih-Beamer gibt es viel, das wir gebrauchen können. Auch als Materialsponsor kannst Du uns unterstützen oder als Materialsponsor für deine Firma werben. Ob Obst, Snacks, Kaffee oder Haftnotizen - schreib uns!
          li <strong>Idell</strong>
          Hilf uns, unsere Konferenz noch bekannter zu machen. Du kennst mögliche Sponsoren? Du schreibst einen Blog oder Newsletter und willst uns erwähnen? Retweete, Like und Verlinke uns!

        h2 Wie profitiere ich als Unternehmen vom Sponsoring?
        ul
          li Werbung für Ihr Unternehmen bei Innovatoren, Multiplikatoren und Experten
          li Präsentation Ihres Projektes bei einer meinungsbildenen Zielgruppe
          li starke Einbindung Ihrer Marke in unsere Öffentlichkeitsarbeit
          li für Premiumsponsoren: Ihr Logo auf über 100 T-Shirts für jeden Teilnehmer
          li Karma!
        |Sie sind in bester Gesellschaft. BarCamps werden u.a. gesponsert von Microsoft, Google, Otto, Burda Media oder der Telekom

        h2 Die Sponsoring-Pakete im Überblick

    .small-12.medium-10.medium-centered.large-8.large-centered.columns.sponsoringoptions
      .grid.sponsoringheader
        .small-6.columns
          p
        .small-2.columns.packagebasicsmall
          p Basispaket Klein
          div ab 299€
        .small-2.columns.packagebasicbig
          p Basispaket Groß
          div ab 599€
        .small-2.columns.packagepremium
          p Premium Paket
          div ab 999€
      .grid
        .small-6.columns
          p Ihr Logo auf allen Webauftritten
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p 2 Reservierte Konferenz-Plätze
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Ihre Flyer werden auf der Konferenz ausgelegt werden
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Ihre Jobangebote auf unserer Jobwall während der Veranstaltung
        .small-2.columns
          p
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Ihre Aufsteller, Beachflags, Poster oder ähnliches können platziert werden
        .small-2.columns
          p
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Einbindung in unsere Social Media Arbeit
        .small-2.columns
          p
        .small-2.columns
          p ✓
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Einbindung in die Offline-Öffentlichkeitsarbeit
        .small-2.columns
          p
        .small-2.columns
          p
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Ihr Logo  auf über 100 T-Shirts für die Teilnehmer
        .small-2.columns
          p
        .small-2.columns
          p
        .small-2.columns
          p ✓
      .grid
        .small-6.columns
          p Individualisierbarer Auftritt. Sie haben einen besonderen Wunsch sich auf dem BarCamp zu präsentieren? Wir machen es möglich
        .small-2.columns
          p
        .small-2.columns
          p
        .small-2.columns
          p ✓



block sponsors
  //- Empty
